@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e4bb68;
  background-image: url('./assets/Background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}
/*--------------------------------------- Containers ---------------------------------------*/
.container,
.container-signup {
  text-align: center; /* Center the content horizontally */
  border: 3px solid rgb(41, 31, 16);
  height: 52%;
  width: 50%;
  margin: auto;
  position: absolute;
  background-color: #222;
  opacity: 95%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-signup {
  height: 58%;
}
/*--------------------------------------- Title ---------------------------------------*/
.title span {
  font-size: 1em;
}
.title,
.title-signup {
  font-family: 'Exo', sans-serif;
  margin-top: 10px;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  font-size: 120px;
  letter-spacing: 1px;
  display: inline-block;
  animation: fadeIn 1.5s forwards;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  margin-left: 30px;
}
.title {
  margin-top: 50px;
}
.title-signup {
  margin-bottom: 15px;
  margin-left: 10px;
  font-size: 95px;
}
.first {
  display: inline-block;
  animation: firstspan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
  background: #222;
  z-index: 1;
  position: relative;
}
.slide {
  display: inline-flex;
  overflow: hidden;
}
.second {
  color: rgb(200, 197, 187);
  margin-left: 20px;
  font-weight: 100;
  z-index: -1;
  display: inline-block;
  animation: secondspan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes firstspan {
  0% {
    transform: translateX(50%);
  }
  60% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes secondspan {
  0% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
/*--------------------------------------- Calendar PopUp ---------------------------------------*/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-inner {
  position: relative;
  padding: 25px;
  width: 100%;
  max-width: 1200px;
  max-height: 875px;
  background-color: rgb(10, 9, 9);
  opacity: 0.9;
  box-shadow: 0 5px 20px red;
}
.popuptitle {
  padding-bottom: 10px;
  font-size: 65px;
}
.popup-inner .close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: white;
  font-family: sans-serif, 'Cabin';
  font-size: 25px;
  color: rgb(72, 112, 197);
  padding: 6px 20px;
  border: solid 2px lighten(rgb(72, 112, 197), 30%);
  border-radius: 5px;
  opacity: 0.85;
  transition: opacity 0.2s ease-out;
}
.popup-inner .close-btn:hover {
  cursor: pointer;
  opacity: 1;
}
/*--------------------------------------- Log In ---------------------------------------*/
.login-form,
.reigster-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-input,
.register-input,
.bio-input {
  margin-bottom: 15px;
}
.login-input label,
.register-input label,
.bio-input label {
  color: rgb(193, 190, 183);
  font-size: 23px;
  font-family: 'Exo', sans-serif;
}
.login-input input[type='text'],
.login-input input[type='password'],
.register-input input[type='text'],
.register-input input[type='password'] {
  width: 350px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #000;
  margin-left: 5px;
  background-color: #e5cb96;
  font-size: 22px;
}
.bio-input textarea {
  width: 475px;
  height: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  background-color: #e5cb96;
  font-size: 18px;
}
.bio-input label {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Center the label horizontally */
  align-items: center; /* Center the label vertically */
  margin-bottom: 7px;
}
.bio-input textarea::placeholder {
  text-align: center;
  height: 100px; /* Adjust the height as needed */
  line-height: 100px; /* Adjust to match the height */
}
.login-input input[type='text']::placeholder,
.login-input input[type='password']::placeholder,
.register-input input[type='text']::placeholder,
.register-input input[type='password']::placeholder {
  color: #525252;
  text-indent: 5px;
  font-size: 18px;
}
/*--------------------------------------- All Buttons ---------------------------------------*/
.login-submit,
.register-submit,
.tagbtn {
  color: rgba(245, 245, 245, 0.882);
  font-size: 30px;
  background-color: rgb(67, 66, 63);
  border: none;
  padding: 6px 20px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  opacity: 0.85;
  transition: opacity 0.2s ease-out;
}
.login-submit:hover,
.register-submit:hover,
.tagbtn:hover {
  cursor: pointer;
  opacity: 1;
}
.register-button,
.login-back,
.btnAPIback,
.btnAPInext,
.feedbtn {
  color: rgb(215, 201, 136);
  font-size: 20px;
  border: none;
  margin-top: 10px;
  padding: 5px 5px 5px;
  font-weight: bold;
  opacity: 0.85;
  transition: opacity 0.2s ease-out;
  width: 200px;
  border-radius: 5px;
  background-color: #222;
  opacity: 95%;
}
.register-button,
.logback,
.btnAPIback,
.btnAPInext {
  text-align: center; /* Center the content horizontally */
}
.register-button:hover,
.login-back:hover,
.btnAPIback:hover,
.btnAPInext:hover {
  cursor: pointer;
  opacity: 1;
  text-shadow: 0 0 1px #e7e7cc;
}
.btnAPIback:hover,
.btnAPInext:hover {
  text-shadow: 0 0 3px #e7e7cc;
}
.register-submit {
  margin-top: 15px;
}
/*--------------------------------------- API buttons ---------------------------------------*/
.buttonAPI {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.btnAPIback,
.btnAPInext {
  font-size: 30px;
}
.btnAPInext {
  color: #f5f5f5;
}
.btnAPIback {
  color: rgb(196, 193, 178);
}
/* ---------- Main Page ---------- */
.background-img {
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/Background7.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}
.container-main {
  display: flex;
  justify-content: center;
  text-align: center; /* Center the content horizontally */
  width: 100%;
  height: 100%;
  margin: auto;
}
.navBar {
  display: flex;
  font-family: 'Exo', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 60px;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  margin: 20px 0 20px 25px;
}
.navRight {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  margin-right: 30px;
}
.calendar,
.editProfile,
.about,
#search {
  margin: 0 15px 0;
  color: whitesmoke;
}
.calendar:hover,
.editProfile:hover,
.about:hover {
  color: rgb(215, 201, 136);
  text-shadow: 0px 0 20px #fdfdfc;
}
.bi {
  margin-right: 40px;
  color: white;
}
#search {
  margin-left: 10px;
  margin-bottom: 8px;
  min-height: 2px;
  min-width: 40px;
  background-color: transparent;
  color: #e4bb68;
  border-radius: 5px;
  font-size: 25px;
  border: 2px solid #f5f5f5;
  box-shadow: 0 0 10px #fbff03;
}
input:focus {
  outline: none;
}
input[id='search'],
input[id='search']::placeholder {
  text-align: center;
  font-size: 18px;
}
.gold {
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(186, 148, 62, 1) 0%,
    rgba(236, 172, 32, 1) 20%,
    rgba(186, 148, 62, 1) 39%,
    rgba(249, 244, 180, 1) 50%,
    rgba(186, 148, 62, 1) 60%,
    rgba(236, 172, 32, 1) 80%,
    rgba(186, 148, 62, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite;
  background-size: 200%;
  background-position: left;
}
@keyframes shine {
  to {
    background-position: right;
  }
}
.container-feed {
  margin-top: 80px;
  min-width: 97vw;
  min-height: 85vh;
  background-color: #222;
  opacity: 95%;
  border-radius: 10px;
  border: 3px solid rgb(41, 31, 16);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
/*--------------------------------------- API ---------------------------------------*/
.container-feed {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  grid-template-areas: 'api feed feed feed';
}
.api {
  position: fixed;
  grid-area: api;
  color: whitesmoke;
  font-size: 30px;
  /* paste here */
  display: inline-block;
  max-width: 20em;
  position: relative;
  margin: 0 15px 0;
}
.api blockquote {
  animation: shadows 2s linear infinite alternate;
  display: inline-block;
  margin-top: 10px;
  padding: 1em;
  min-height: 150px;
}
.api blockquote cite {
  display: block;
  font-style: italic;
  text-align: right;
}
.api blockquote cite:before {
  content: '- ';
}
@keyframes shadows {
  0% {
    box-shadow: 0 2px 4px -2px rgb(255, 255, 255);
    transform: scale(0.95);
  }
  100% {
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.25);
    transform: scale(1);
  }
}
.apiPage {
  display: flex;
  justify-content: center;
  height: 20px;
}
.pageBullets {
  font-size: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 15px;
}
.iframe {
  margin: 20px 10px 20px;
  box-shadow: 0 0 10px #dbdcbe;
}
/*--------------------------------------- Feed Display ---------------------------------------*/
.feedDisplay {
  grid-area: feed;
  width: 100%;
  overflow-y: auto;
}
.feed {
  font-family: 'Exo', sans-serif;
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  grid-template-areas: 'left right right right';
  margin-top: 20px;
  margin-right: 20px;
  border: 2px solid rgb(215, 201, 136);
  box-shadow: 0 0 10px #dbdcbe;
  height: 300px;
  background-color: rgb(9, 9, 9);
  opacity: 0.7;
  font-size: 40px;
  color: whitesmoke;
}
.feedleft {
  grid-area: left;
}
.feedright {
  grid-area: right;
  padding-right: 40px;
}
.feedUsername {
  font-family: 'Exo', sans-serif;
  color: rgb(215, 201, 136);
  text-shadow: 0 0 3px rgb(215, 201, 136);
}
.feedimg {
  margin-top: 20px;
  max-width: 15vw;
  max-height: 22vh;
  box-shadow: 0 0 10px #dbdcbe;
}
.feedbio {
  height: 70%;
}
.feedtag {
  height: 30%;
}
.feedtag {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tagbtn {
  font-size: 20px;
  background-color: rgb(9, 9, 9);
}
.bigtag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}
.value,
.value-clicked {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px gold;
  width: 35px;
  height: 35px;
  font-size: 25px;
  border-radius: 5px;
  color: #f5f5f5;
  box-shadow: 0 0 7px #dbdcbe;
  background-color: rgb(9, 9, 9);
}

.value-clicked {
  filter: brightness(3);
  border: solid 2px gold;
}
