@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e4bb68;
  background-image: url("./assets/Background.jpeg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  margin: 0;
}
/* ---------- Login ----------*/
.container, .container-signup {
  text-align: center; /* Center the content horizontally */
  border: 3px solid rgb(41, 31, 16);
  height: 52%;
  width: 50%;
  margin: auto;
  position: absolute;
  background-color: #222;
  opacity: 95%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-signup {
  height: 70%;
}
/* ---------- Title ---------- */
.title span {
  font-size: 1.0em;
}
.title, .title-signup {
  font-family: 'Exo', sans-serif;
  margin-top: 10px;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  font-size: 90px;
  letter-spacing: 1px;
  display: inline-block;
  animation: fadeIn 1.5s forwards;
  opacity: 0;
  transition-timing-function: cubic-bezier(.785,0.135,0.15,0.86);
  margin-left: 30px;
}
.title-signup {
  margin-bottom: 15px;
  margin-left: 10px;
  font-size: 95px;
}
.first {
  display: inline-block;
  animation: firstspan 1.5s forwards cubic-bezier(.785,0.135,0.15,0.86);
  background: #222;
  z-index: 1;
  position: relative;
}
.slide {
  display: inline-flex;
  overflow: hidden;
}
.second {
  color: rgb(200, 197, 187);
  margin-left: 20px;
  font-weight: 100;
  z-index: -1;
  display: inline-block;
  animation: secondspan 1.5s forwards cubic-bezier(.785,0.135,0.15,0.86);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes firstspan {
  0% {
    transform: translateX(50%);
  }
  60% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes secondspan {
  0% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
/* ---------- Log In Form ---------- */
.login-form, .reigster-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-input, .register-input, .bio-input {
  margin-bottom: 15px;
}
.login-input label, .register-input label, .bio-input label {
  color: rgb(193, 190, 183);
  font-size: 23px;
  font-family: 'Exo', sans-serif;
}
.login-input input[type="text"],
.login-input input[type="password"],.register-input input[type="text"],
.register-input input[type="password"]{
  width: 350px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #000;
  margin-left: 5px;
  background-color: #e5cb96;
  font-size: 22px;
}
.bio-input textarea{
  width: 475px;
  height: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  background-color: #e5cb96;
  font-size: 18px;
}
.bio-input label {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Center the label horizontally */
  align-items: center; /* Center the label vertically */
  margin-bottom: 7px;
}

.bio-input textarea::placeholder {
  text-align: center;
  height: 100px; /* Adjust the height as needed */
  line-height: 100px; /* Adjust to match the height */
}


.login-input input[type="text"]::placeholder,
.login-input input[type="password"]::placeholder, .register-input input[type="text"]::placeholder,
.register-input input[type="password"]::placeholder {
  color: #525252;
  text-indent: 5px;
  font-size: 18px;
}

.login-submit, .register-submit {
  color: rgba(245, 245, 245, 0.882);
  font-size: 30px;
  background-color: rgb(67, 66, 63);
  border: none;
  padding: 6px 20px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  opacity: 0.85;
  transition: opacity 0.2s ease-out;
}
.login-submit:hover, .register-submit:hover {
  cursor: pointer;
  opacity: 1;
}
.register-button, .login-back {
  color: rgb(215, 201, 136);
  font-size: 20px;
  border: none;
  margin-top: 10px;
  padding: 5px 5px 5px;
  font-weight: bold;
  opacity: 0.85;
  transition: opacity 0.2s ease-out;
  width: 200px;
  border-radius: 5px;
  background-color: #222;
  opacity: 95%;
}
.register, .logback {
  text-align: center; /* Center the content horizontally */
}
.register:hover, .login-back:hover {
  cursor: pointer;
  opacity: 1;
}

.register-submit{
  margin-top: 15px;
}



/* ---------- Main Page ---------- */
h1 {
  color: whitesmoke;
  width: 50%;
  margin: auto;
}